h1 {
  color: #fff;
}
body {
  padding: 15px;
  color: #fff;
}
.container {
  width: 60%;
}
.edit {
  font-size: 10px;
  cursor: pointer;
  color: #fff;
}
.form {
  margin-bottom: 10px;
}
.container {
  margin: 50px auto 0;
  background-position: center center;
  background: url('/main/images/background.jpg') center center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 360px;
  z-index: 999;
  background-size: cover;
  background-attachment: fixed;
}
.container .panel {
  background-color: rgba(255, 255, 255, 0.3);
}
.container .panel > .panel-heading {
  background-color: rgba(245, 245, 245, 0.2);
}
.main-icon {
  font-size: 120px;
}
.m-temp {
  padding: 0 8px;
}
.main-temp {
  font-size: 32px;
  margin: 8px;
}
.desc {
  margin: 8px 0;
}
.forecast {
  padding: 0px 15px !important;
}
.forecast-icon {
  font-size: 36px;
  margin: 8px 0;
}

.morris-hover-point {
  color: #666 !important;
}
