<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OZ Weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="app/app.js"></script>

    <style>
      body {
        padding: 15px;
      }
      .edit {
        font-size: 10px;
        cursor: pointer;
        color: #aaa;
      }
      .form {
        margin-bottom: 10px;
      }

    </style>
  </head>
  <body ng-controller="bodyController" class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 ng-show="!inEdit">{{city.description}}   <small class="edit" ng-click="inEdit=true">Edit</small></h1>
        <form ng-show="inEdit" class="form-inline form">
          <div class="form-group has-feedback" ng-class="{'has-error':invalidCity}">
            <input ng-keydown="invalidCity=false" id="city" type="text" my-googleplace my-googleplace-model="city" my-googleplace-callback="updateCity()" placeholder="Enter a city" maxlength="100" class="form-control"/>
            <span class="edit" ng-click="inEdit=false">Cancel</span>
          </div>
        </form>

        <table class="table">
          <tr>
            <td>main</td>
            <td>{{weather.data.weather[0].main}}</td>
          </tr>
          <tr>
            <td>icon</td>
            <td>{{weather.data.weather[0].icon}}</td>
          </tr>
          <tr>
            <td>temp</td>
            <td>{{weather.data.main.temp|temperature}}</td>
          </tr>
          <tr>
            <td>pressure</td>
            <td>{{weather.data.main.pressure}}</td>
          </tr>
          <tr>
            <td>humidity</td>
            <td>{{weather.data.main.humidity}}</td>
          </tr>
          <tr>
            <td>temp_min</td>
            <td>{{weather.data.main.temp_min|temperature}}</td>
          </tr>
          <tr>
            <td>temp_max</td>
            <td>{{weather.data.main.temp_max|temperature}}</td>
          </tr>
          <tr>
            <td>wind speed</td>
            <td>{{weather.data.wind.speed}}</td>
          </tr>
          <tr>
            <td>wind deg</td>
            <td>{{weather.data.wind.deg}}</td>
          </tr>
        </table>
      </div>
      <pre>{{forecast|json}}</pre>
    </div>
  </div>
</body>
</html>
